@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-sec: #f0f0f0;
  --foreground: #171717;
  --primary: #ff79c6;
  --primary-sec: #ffb3d9; /* lighter/shaded primary */
}

@theme {
  --color-background: var(--background);
  --color-background-sec: var(--background-sec);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-sec: var(--primary-sec);
}

html {
  background-color: var(--color-background);
}

p,
a,
h1,
h2,
h3,
span {
  font-family: var(--font-geist-mono), var(--font-geist-sans);
}
